extends ../components/base/layout

block variables
  - const title = "LH | Test Header"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    h1.visually-hidden Test Page
