mixin cart-actions(previewList)
  .cart-actions
    ul.cart-actions__list
      li.cart-actions__item
        a.cart-actions__link.cart-actions__link--cart(href="#" aria-label="Количество и цена товаров в корзине")
          span.cart-actions__icon
            +icon("icon-cart", 19, 18)
          p.cart-actions__text
            span.cart-actions__cart-count 3
            span.cart-actions__cart-unit &nbsp;шт.
            span &nbsp;/&nbsp;
            span.cart-actions__cart-price 17 250
            span &nbsp;p.
      li.cart-actions__item
        a.cart-actions__link.cart-actions__link--favorites(href="#")
          span.cart-actions__icon
            +icon("icon-star", 14, 14)
          p.cart-actions__text
            span.cart-actions__favorites Избранное
            span &nbsp;(
            span.cart-actions__favorites-count 7
            span )&nbsp;
      li.cart-actions__item
        a.cart-actions__link.cart-actions__link--compare(href="#")
          span.cart-actions__icon
            +icon("icon-balance", 18, 16)
          p.cart-actions__text
            span.cart-actions__compare К сравнению
            span &nbsp;(
            span.cart-actions__compare-count 5
            span )&nbsp;

    +cart-preview(previewList)
