.cart-preview {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cart-preview__item {
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;

  margin-right: 15px;
  
  &:last-child {
    margin-right: 0;
  }

  border: 1px solid $color-gainsboro-2;
}

.cart-preview__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @include hover-focus;

  img {
    max-width: 68px;
    max-height: 68px;
    object-fit: cover;
  }
}