.custom-select {
  font-family: inherit;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;

  &__label {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: transform $trans-600, opacity $trans-600;

    pointer-events: none;
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    transition: transform $trans-600, opacity $trans-600;

    pointer-events: none;
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 22px;
    padding: 0;
    line-height: 14px;
    font-weight: 400;

    border: none;
    border-radius: 60px;
    outline: none;
    cursor: pointer;
    color: inherit;
    background-color: transparent;

    &:hover,
    &:focus {
      .custom-select__icon,
      .custom-select__icon-text {
        opacity: 0.5;
      }
    }
  }

  &__list {
    position: absolute;
    bottom: 0;
    z-index: 21;

    width: 184px;
    max-height: 136px;
    margin: 0;
    padding: 0;
    overflow-y: auto;

    list-style: none;

    background-color: $color-default-white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;

    transition: visibility $trans-600, opacity $trans-600;
  }

  &__item {
    padding: 6px 12px;
    padding-right: 25px;

    outline: none;
    cursor: pointer;

    transition: opacity $trans-600;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }

  &__error {
    position: absolute;
    bottom: 0;
    left: 0;

    color: $color-tangerine-yellow;

    opacity: 0;

    transition: opacity 0.1s ease;
  }

  &__text {
    flex-shrink: 0;
    width: max-content;
    margin-right: 4px;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.2px;

    opacity: 0;

    transition: opacity $trans-600 0.1s;

    br {
      display: none;
    }
  }

  &__icon {
    display: inline-block;
    flex-shrink: 0;
    width: 7px;
    height: 7px;
    margin: 0 3px 0 auto;

    background-image: url("../img/svg/icon-arrow-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity $trans-600;
  }

  &__icon-text {
    position: relative;
    transition: opacity $trans-600;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 1px;

      width: calc(100% - 3px);
      height: 1px;

      border-bottom: 1px dotted $color-nero;

      transition: opacity $trans-600;
    }
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 30px));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }
  }

  &--placeholder {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }
}
