.user-actions {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
}

.user-actions__item {
  position: relative;
  margin-left: 28px;

  &::after {
    content: "|";
    position: absolute;
    top: 0;
    right: calc(-100% + 12px);
    width: 1px;

    font-size: 12px;
    color: inherit;

    transform: translateY(55%);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child::after {
    display: none;
  }
}

.user-actions__link {
  display: block;
  padding: 8px 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;

  @include hover-focus;
}
