@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "HeliosCond";

  font-display: swap;
  src:
    url("../fonts/HeliosCond.woff2") format("woff2"),
    url("../fonts/HeliosCond.woff") format("woff");
}
