mixin header(headerMods, currentUrl)
  -
    const headerTopNavLinks = [
      {
        href: "#",
        text: "Каталог инструментов"
      },
      {
        href: "#",
        text: "Все для сада"
      },
      {
        href: "#",
        text: "Ручной интрумент"
      },
      {
        href: "#",
        text: "Электрика"
      },
      {
        href: "#",
        text: "Доставка"
      },
      {
        href: "#",
        text: "Оплата"
      },
      {
        href: "#",
        text: "О нас"
      },
    ]

  -
    const headerBottomNavLinks = [
      {
        href: "#",
        text: "Перфораторы"
      },
      {
        href: "#",
        text: "Дрели"
      },
      {
        href: "#",
        text: "Шлифмашины"
      },
      {
        href: "#",
        text: "Пистолеты"
      },
      {
        href: "#",
        text: "Электропилы"
      },
      {
        href: "#",
        text: "Наборы инструментов"
      },
      {
        href: "#",
        text: "Аксессуары"
      },
    ]

  -
    const toolsPreviewList = [
    {
      label: "Tool 1",
      img: {
        path: "content/header",
        name: "tool-1",
        format: "jpg",
        width: 200,
        height: 200,
        altText: "Tool 1"
      }
    },
    {
      label: "Tool 2",
      img: {
        path: "content/header",
        name: "tool-2",
        format: "jpg",
        width: 200,
        height: 200,
        altText: "Tool 2"
      }
    },
    {
      label: "Tool 3",
      img: {
        path: "content/header",
        name: "tool-3",
        format: "jpg",
        width: 200,
        height: 200,
        altText: "Tool 3"
      }
    },
    ]

  -
    const cities = {
      class: "",
      id: "",
      name: "header-cities",
      repeater: "",
      ariaLabel: "Выберите ваш город",
      options: [
        {
          text: "Москва",
          value: "Moscow",
          isActive: true,
        },
        {
          text: "Киев",
          value: "Kiev",
        },
        {
          text: "Минск",
          value: "Minsk",
        },
      ],
    }

  header.header(class=headerMods)
    .container
      .header__wrapper
        +logo()

        .header__body
          .header__top
            +top-nav(headerTopNavLinks, currentUrl)
            +user-actions()

          .header__bottom
            .header__banner
              +img("content/header", "banner", "jpg", 1282, 1920, "Баннер в шапке")
            +cart-actions(toolsPreviewList)
            +contacts(cities)

      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          .main-nav__search Search icon
          ul.main-nav__list
            each link in headerBottomNavLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
          .main-nav__sale Распродажа
